<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title>
      <strong>Formación Académica</strong>
    </ion-title>
  </ion-toolbar>
  <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="text-align: center;">
      <div style="margin-top: 20px;">
        <img src="assets/Imagen/Academico.png" alt="Imagen de Alejandro Paul Chango Llamuca" style="max-width: 15%; height: 15%; ">
      </div>
      <div style="padding: 20px; text-align: left;">
        <ul style="list-style-type: none; padding-left: 0;">
          <li><strong>Estudios Superiores:</strong></li>
          <ul style="list-style-type: none; padding-left: 0;">
            <li>Escuela Politécnica Nacional</li>
            <li>Carrera: Análisis de Sistemas Informáticos</li>
            <li><br></li> <!-- Agrega una línea adicional aquí -->
          </ul>
          <li><strong>Estudios Secundarios:</strong></li>
          <ul style="list-style-type: none; padding-left: 0;">
            <li>Básico: Colegio Técnico Pedernales</li>
            <li>Bachillerato: Colegio Piloto Experimental Camilo Ponce Enríquez</li>
            <li>Especialidad: Técnico en Comercio y Administración especialidad Informática</li>
          </ul>
          <li><br></li>
          <li><strong>Estudios Primarios:</strong></li>
          <ul style="list-style-type: none; padding-left: 0;">
            <li>Escuela fiscal Mixta Manuel Abad</li>
          </ul>
        </ul>
        
      </div>     
    </div>
  </div>
</ion-content>
